body {
    background-color: #121212; 
    color: white; 
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background-color: #fff; 
    color: black; 
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 370px;
    width: 100%;
  }
  
  .btn-salvar {
    background-color: #700000;
    color: white;
    border: none;
  }
  
  .btn-salvar:hover {
    background-color: #550000;
  }